header {
    margin-top: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 3rem;
    text-align: center;
    background-color: aquamarine;
}

section {
    margin-top: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5rem;
    text-align: center;
    background-color: aliceblue;
}

footer {
    margin-top: 50px;
    padding-top: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.3rem;
    text-align: center;
    border-top: 1px solid gray;
}

h4 {
    margin-top: 10px;
}
