h1 {
    margin-top: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 4rem;
    text-align: center;
}
h2 {
    margin-top: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2rem;
    text-align: center;
}